<!DOCTYPE html>
<html lang="en" data-topbar-color="brand">
    <head>
        <meta charset="utf-8"/>
        <title>Login to the Splunk Arcade!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico')}}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css')}}">
    </head>

    <body>
        <section class="h-screen bg-gray-900 flex">
            <div class="w-1/2 h-full flex flex-col items-center justify-center bg-gray-800 relative">
                <form
                        action=""
                        method="post"
                        class="bg-gray-700 p-8 rounded-lg shadow-lg w-full max-w-md"
                >
                    {{ form.hidden_tag() }}

                    <div class="mb-4">
                        <label for="first_name" class="text-gray-300">
                            {{ form.first_name.label }}
                        </label>
                        {{ form.first_name(size=32, class_="form-control bg-gray-600 text-gray-100 rounded-md p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent") }}
                    </div>

                    <div class="mb-4">
                        <label for="last_name" class="text-gray-300">
                            {{ form.last_name.label }}
                        </label>
                        {{ form.last_name(size=32, class_="form-control bg-gray-600 text-gray-100 rounded-md p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent") }}
                    </div>

                    <div class="mb-4">
                        <label for="username" class="text-gray-300">
                            {{ form.username.label }}
                        </label>
                        {{ form.username(size=32, class_="form-control bg-gray-600 text-gray-100 rounded-md p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent") }}
                        {% for error in form.username.errors %}
                        <span class="text-red-500 text-sm">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="mb-4">
                        <label for="email" class="text-gray-300">
                            {{ form.email.label }}
                        </label>
                        {{ form.email(size=32, class_="form-control bg-gray-600 text-gray-100 rounded-md p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent") }}
                        {% for error in form.email.errors %}
                        <span class="text-red-500 text-sm">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="mb-4">
                        <label for="password" class="text-gray-300">
                            {{ form.password.label }}
                        </label>
                        <div class="relative">
                            {{ form.password(size=32, class_="form-control bg-gray-600 text-gray-100 rounded-md p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent") }}
                            <div class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        {% for error in form.password.errors %}
                        <span class="text-red-500 text-sm">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="mb-4">
                        <label for="password2" class="text-gray-300">
                            {{ form.password2.label }}
                        </label>
                        <div class="relative">
                            {{ form.password2(size=32, class_="form-control bg-gray-600 text-gray-100 rounded-md p-2 w-full mt-1 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent") }}
                            <div class="absolute inset-y-0 right-0 flex items-center pr-3 cursor-pointer">
                                <span class="password-eye"></span>
                            </div>
                        </div>
                        {% for error in form.password2.errors %}
                        <span class="text-red-500 text-sm">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div class="mb-4">
                        <div class="flex items-start">
                            <input
                                    class="form-check-input bg-gray-600 border-gray-500 text-blue-500 focus:ring-blue-500 mt-1 mr-2"
                                    type="checkbox"
                                    id="checkbox-signup"
                            >
                            <label class="text-gray-300" for="checkbox-signup">
                                I accept
                                <a href="javascript:void(0);" class="text-blue-400 hover:text-blue-500">
                                    Terms and Conditions
                                </a>
                            </label>
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <a
                                href="{{ url_for('routes.login') }}"
                                class="text-blue-400 hover:text-blue-500"
                        >
                            Already have an account? Login here
                        </a>
                    </div>

                    <div class="d-grid text-center mt-6">
                        <button
                                type="submit"
                                class="bg-blue-500 text-white py-2 px-4 rounded-lg w-full hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500"
                        >
                            Sign Up
                        </button>
                    </div>
                </form>

                <div class="mt-8 text-gray-500 text-center">
                    Made with ❤️ by
                    <a
                            href="https://www.splunk.com"
                            target="_blank"
                            class="text-blue-400 hover:text-blue-500"
                    >
                        Splunk
                    </a>
                </div>
            </div>
            <div
                    class="w-1/2 h-full bg-cover bg-center"
                    style="background-image: url('{{ url_for('static', filename='images/giphy.webp') }}');">
            </div>
        </section>
    </body>

</html>