<!DOCTYPE html>
<html lang="en" data-layout-mode="detached" data-sidebar-user="true" data-topbar-color="dark">
 {% include 'sub_template_modules/header.html' %}

    <body>

        <!-- Begin page -->
        <div id="wrapper">


           {% include 'sub_template_modules/topbar.html' %}

            <!-- ========== Left Sidebar Start ========== -->
            {% include 'sub_template_modules/left_sidebar.html' %} }
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->


            {% block content %}{% endblock %}

        <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

         </div>
        <!-- END wrapper -->

        <!-- Right Sidebar -->
        {% include 'sub_template_modules/right_sidebar.html' %}
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
       {% include  'sub_template_modules/end_includes.html'%}

    </body>
</html>