{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>You are playing:</h1>
            <p>Title: {{ data.title }}</p>
            <p>Description: {{ data.description }}</p>
            <p>uri: {{ data.uri }}</p>
        </div>
    </div>

    {% if "imvader" in data.title  %}
        {% include 'cabinets/imvader.html' %}
    {% endif %}      
    {% if "Logger" in data.title  %}
        {% include 'cabinets/loggergame.html' %}
    {% endif %}      

    
{% endblock %}
