<!DOCTYPE html>
<html lang="en" data-topbar-color="brand">
    <head>
        <meta charset="utf-8" />
        <title>Splunk Arcade Scoreboard</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Refresh" content="5">

        <link rel="shortcut icon" href="{{ url_for('static',filename='assets/images/favicon.ico')}}">
        <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='assets/css/bootstrap.min.css' ) }}"  />
        <link rel="stylesheet" type="text/css" id="app-stylesheet" href="{{url_for('static',filename='assets/css/app.min.css')}}"  />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/icons.min.css')}}"  />
        <script src="{{ url_for('static',filename='assets/js/config.js')}}"></script>
    </head>

    <body class=auth-fluid-pages pb-0">
        <div class="auth-fluid">
            <div class="auth-fluid-right">
            </div>

            <div class="auth-fluid-form-box">
                <!-- placeholder data from scoreboard service -->
                <table>
                    <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for score_entry in score_data %}
                    <tr>
                        <td>{{ score_entry.field }}</td>
                        <td>{{ score_entry.value }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>