<!DOCTYPE html>
<html>
    <head>
        <title>The Splunk Arcade!</title>

        {% include 'head_content.html' %}

        <script>
            window.addEventListener('gameStateChanged', (event) => {
                const { gameId } = event.detail;

                const main = document.getElementById("game-container");

                const existingFeedback = document.getElementById("feedback-box");
                if (existingFeedback) {
                    existingFeedback.remove();
                }

                const feedbackElement = document.createElement("div");
                feedbackElement.id = "feedback-box";
                feedbackElement.classList.add(
                    "bg-pink-500", "text-white", "absolute", "top-[-40px]", "left-1/2",
                    "transform", "-translate-x-1/2", "px-6", "py-4", "text-center",
                    "rounded-lg", "shadow-lg", "z-[9999]", "max-w-md", "w-full"
                );

                const messageContent = document.createElement("div");
                messageContent.textContent = `Hey, you're pretty good! You unlocked ${gameId}!`;
                messageContent.classList.add("mb-4");

                const closeButton = document.createElement("button");
                closeButton.textContent = "OK";
                closeButton.classList.add(
                    "bg-white", "text-pink-500", "px-4", "py-2", "rounded-lg",
                    "font-bold", "cursor-pointer", "hover:bg-gray-200"
                );

                closeButton.onclick = () => feedbackElement.remove();

                feedbackElement.appendChild(messageContent);
                feedbackElement.appendChild(closeButton);

                main.appendChild(feedbackElement);
            });

            let startTime = null;
            let attemptsCount = 0;

            function unlockQuizQuestion() {
                startTime = new Date().getTime();

                $.ajax({
                    type: 'GET',
                    url: '{{ url_for("routes.get_question", module=data.title) }}',
                    success: function(response) {
                        if (Object.keys(response).length === 0) {
                            console.log("player has seen all questions");
                            const quizMessage = document.createElement("div");
                            quizMessage.textContent = "You answered all the questions, just play and chill now!";
                            quizMessage.classList.add("text-center", "text-xl", "font-semibold", "text-white");
                            showQuizModal(quizMessage);
                            return;
                        }

                        window.questionSource = response.source;
                        const question = response.question;
                        const optionsList = document.createElement("ul");
                        optionsList.classList.add("space-y-2");

                        const options = ['A', 'B', 'C', 'D'];
                        const randomizedPrompts = [...response.choices].sort(() => Math.random() - 0.5);

                        options.forEach((option, idx) => {
                            const li = document.createElement("li");
                            li.classList.add("flex", "items-center");

                            const input = document.createElement("input");
                            input.type = "radio";
                            input.name = "quiz-answer";
                            input.value = randomizedPrompts[idx].prompt;
                            input.id = `option-${option}`;
                            input.classList.add("mr-2", "accent-cyan-600");

                            const label = document.createElement("label");
                            label.setAttribute("for", `option-${option}`);
                            label.classList.add("text-white", "cursor-pointer");
                            label.textContent = randomizedPrompts[idx].prompt;

                            li.appendChild(input);
                            li.appendChild(label);
                            optionsList.appendChild(li);

                            if (randomizedPrompts[idx].is_correct) {
                                window.correctAnswer = option;
                            }
                        });

                        const submitButton = document.createElement("button");
                        submitButton.textContent = "Submit Answer";
                        submitButton.classList.add("w-full", "bg-cyan-600", "hover:bg-cyan-700", "text-white", "py-2", "px-4", "rounded-lg", "mt-4");
                        submitButton.onclick = checkQuestionAnswer;

                        const content = document.createElement("div");
                        content.classList.add("space-y-4");
                        content.innerHTML = `<p id="quiz-question" class="text-lg font-medium">${question}</p><hr class="border-gray-600 my-4">`;

                        if (response.link) {
                            const linkElement = document.createElement("a");
                            linkElement.href = response.link;
                            linkElement.target = "_blank";
                            linkElement.textContent = response.link_text;
                            linkElement.classList.add("text-cyan-400", "hover:text-cyan-500", "block", "mt-4", "text-center");
                            content.appendChild(linkElement);

                            const hrElement = document.createElement("hr");
                            hrElement.classList.add("border-gray-600", "my-4");
                            content.appendChild(hrElement);
                        }

                        content.appendChild(optionsList);
                        content.appendChild(submitButton);

                        showQuizModal(content);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }

            function showQuizModal(content) {
                const modal = document.createElement("div");
                modal.id = "quiz-modal";
                modal.classList.add(
                    "fixed", "top-1/2", "left-1/2", "transform", "-translate-x-1/2", "-translate-y-1/2",
                    "px-6", "py-4", "rounded-lg", "transition-all", "duration-300", "max-w-md", "w-full",
                    "bg-gray-800", "text-white", "shadow-lg", "space-y-3", "z-50"
                );
                modal.appendChild(content);

                const closeButton = document.createElement("button");
                closeButton.textContent = "❌";
                closeButton.classList.add("absolute", "top-2", "right-2", "text-white", "text-xl", "bg-transparent", "border-none", "cursor-pointer");
                closeButton.onclick = () => {
                    modal.remove();
                    backdrop.remove();
                };
                modal.appendChild(closeButton);

                const backdrop = document.createElement("div");
                backdrop.id = "quiz-backdrop";
                backdrop.classList.add("fixed", "top-0", "left-0", "w-full", "h-full", "backdrop-blur-sm", "bg-opacity-30", "z-40");

                document.body.appendChild(backdrop);
                document.body.appendChild(modal);
            }

            function checkQuestionAnswer() {
                const selectedOption = document.querySelector('input[name="quiz-answer"]:checked');
                const quizModal = document.getElementById("quiz-modal");
                const quizBackdrop = document.getElementById("quiz-backdrop");

                if (selectedOption) {
                    const selectedAnswer = selectedOption.id.split("-")[1];

                    attemptsCount++;

                    if (selectedAnswer === window.correctAnswer) {
                        const quizQuestion = document.querySelector("#quiz-question").textContent;

                        quizModal.remove();
                        quizBackdrop.remove();

                        const endTime = new Date().getTime();
                        const timeTaken = (endTime - startTime) / 1000;

                        showFeedbackPopup(timeTaken, attemptsCount, quizQuestion);

                        $.ajax({
                            type: 'POST',
                            url: '{{ url_for("routes.record_answer") }}',
                            data: JSON.stringify({
                                game_session_id: "{{ gamesession }}",
                                player_name: "{{ user_username }}",
                                title: "{{ data.title }}",
                                question: quizQuestion,
                                attempts: attemptsCount,
                                time_taken: timeTaken,
                                source: window.questionSource
                            }),
                            contentType: 'application/json',
                            success: function(response) {
                                console.log('Answer recorded successfully:', response);
                            },
                            error: function(error) {
                                console.log('Error recording answer:', error);
                            }
                        });

                        startTime = null;
                        attemptsCount = 0;

                        return;
                    }

                    const feedbackElement = document.createElement("div");
                    feedbackElement.textContent = "Wrong answer. Try again!";
                    feedbackElement.classList.add(
                        "bg-red-500", "text-white", "absolute", "top-[-120px]", "left-1/2",
                        "transform", "-translate-x-1/2", "px-4", "py-2", "text-center",
                        "rounded-lg", "shadow-lg", "z-[9999]"
                    );

                    quizModal.appendChild(feedbackElement);

                    setTimeout(() => {
                        feedbackElement.classList.add("opacity-0");
                        setTimeout(() => feedbackElement.remove(), 500);
                    }, 2000);
                } else {
                    const feedbackElement = document.createElement("div");
                    feedbackElement.textContent = "Please select an answer before submitting.";
                    feedbackElement.classList.add(
                        "bg-yellow-500", "text-white", "absolute", "top-[-120px]", "left-1/2",
                        "transform", "-translate-x-1/2", "px-4", "py-2", "text-center",
                        "rounded-lg", "shadow-lg", "z-[9999]"
                    );

                    quizModal.appendChild(feedbackElement);

                    setTimeout(() => {
                        feedbackElement.classList.add("opacity-0");
                        setTimeout(() => feedbackElement.remove(), 500);
                    }, 2000);
                }
            }

            function showFeedbackPopup(timeTaken, attemptsCount, question) {
                const feedbackElement = document.createElement("div");
                feedbackElement.classList.add(
                    "fixed", "top-1/2", "left-1/2", "transform", "-translate-x-1/2", "-translate-y-1/2",
                    "px-6", "py-4", "rounded-lg", "transition-all", "duration-300",
                    "max-w-md", "w-full", "bg-gray-800", "text-white", "shadow-lg",
                    "space-y-3", "z-50"
                );

                feedbackElement.innerHTML = `
        <p class="text-xl font-bold text-center">Correct!</p>
        <p class="text-center">It took you ${timeTaken.toFixed(2)} seconds and ${attemptsCount} attempt(s).</p>
        <p class="text-center">Hey, if you liked this question, give it a thumbs up. If it wasn't so great, give it a thumbs down.</p>
    `;

                const thumbsContainer = document.createElement("div");
                thumbsContainer.classList.add("flex", "justify-center", "space-x-4");

                const thumbsUpBtn = document.createElement("button");
                thumbsUpBtn.classList.add("bg-green-600", "text-white", "px-4", "py-2", "rounded-lg", "hover:bg-green-700", "transition");
                thumbsUpBtn.textContent = "👍";
                thumbsUpBtn.onclick = function() {
                    feedbackElement.remove();
                    backdrop.remove();
                    sendFeedback(question, true);
                };

                const thumbsDownBtn = document.createElement("button");
                thumbsDownBtn.classList.add("bg-red-600", "text-white", "px-4", "py-2", "rounded-lg", "hover:bg-red-700", "transition");
                thumbsDownBtn.textContent = "👎";
                thumbsDownBtn.onclick = function() {
                    feedbackElement.remove();
                    backdrop.remove();
                    sendFeedback(question, false);
                };

                thumbsContainer.appendChild(thumbsUpBtn);
                thumbsContainer.appendChild(thumbsDownBtn);
                feedbackElement.appendChild(thumbsContainer);

                const closeButton = document.createElement("button");
                closeButton.textContent = "❌";
                closeButton.classList.add("absolute", "top-2", "right-2", "text-white", "text-xl", "bg-transparent", "border-none", "cursor-pointer");

                closeButton.onclick = function() {
                    feedbackElement.remove();
                    backdrop.remove();
                };

                feedbackElement.appendChild(closeButton);

                const backdrop = document.createElement("div");
                backdrop.classList.add(
                    "fixed", "top-0", "left-0", "w-full", "h-full", "backdrop-blur-sm", "bg-opacity-30", "z-40"
                );

                document.body.appendChild(backdrop);
                document.body.appendChild(feedbackElement);
            }

            function sendFeedback(question, is_good) {
                $.ajax({
                    type: 'POST',
                    url: "{{ url_for('routes.record_question_thumbs_up_down') }}",
                    data: JSON.stringify({
                        game_session_id: "{{ gamesession }}",
                        player_name: "{{ user_username }}",
                        title: "{{ data.title }}",
                        is_good: is_good,
                        question: question,
                    }),
                    contentType: 'application/json',
                    success: function(response) {
                        console.log('Feedback recorded:', response);
                    },
                    error: function(error) {
                        console.log('Error recording feedback:', error);
                    }
                });
            }

        </script>
    </head>
    <body class="min-h-screen flex flex-col bg-gray-800 bg-cover bg-center py-2" style="background-image: url('{{ url_for('static', filename='images/arcade_bg_.png') }}');">
        <header>
            <img src="{{ url_for('static', filename='images/arcade__.png')}}" class="mx-auto h-32">
        </header>

        <nav class="bg-gray-800 text-white shadow-md py-2 opacity-90 relative">
            <ul class="flex justify-center space-x-8">
                <li><a href="{{ url_for('routes.home') }}" class="text-2xl tracking-wide press-start-2p-regular">Home</a></li>
                <li><a href="{{ dashboard_home_endpoint }}" class="text-2xl tracking-wide press-start-2p-regular">Dashboard</a></li>
                <li><a id="scoreboardLink"  href="#" class="text-2xl tracking-wide press-start-2p-regular">Scoreboard</a></li>
                <li><a href="{{ logout_endpoint }}" class="text-2xl tracking-wide press-start-2p-regular">Logout</a></li>
            </ul>

            <a
                    id="open-left-drawer-btn"
                    onclick="toggleContent()"
                    class="text-sm tracking-wide press-start-2p-regular cursor-pointer absolute left-4 top-1/2 transform -translate-y-1/2"
            >
                Toggle Content
            </a>
        </nav>

        <main class="relative opacity-90 bg-gray-800 flex flex-col flex-grow flex-1 justify-center items-center">
            <div class="flex h-auto w-full">
                <div class="w-1/10 flex items-center justify-center"></div>

                <div id="game-container" class="flex flex-col w-full max-w-4xl py-2 h-auto mx-auto min-h-[600px]">
                    {% block content %}
                    {% if "imvader" in data.title %}
                    {% include 'cabinets/imvader.html' %}
                    {% elif "logger" in data.title %}
                    {% include 'cabinets/logger.html' %}
                    {% elif "bughunt" in data.title %}
                    {% include 'cabinets/bughunt.html' %}
                    {% elif "floppybird" in data.title %}
                    {% include 'cabinets/floppybird.html' %}
                    {% elif "zelda" in data.title %}
                    {% include 'cabinets/zelda.html' %}
                    {% endif %}
                    {% endblock %}
                </div>

                <div class="w-1/10 flex items-center justify-center"></div>
            </div>

            <div
                    id="left-drawer"
                    class="absolute left-0 w-80 bg-gray-800 text-white shadow-lg transform transition-transform duration-300 z-50 h-full overflow-y-auto"
            >
                <ul class="p-4 space-y-2">
                    <div class="walkthrough" id="walkthrough"></div>
                </ul>

                <div class="flex justify-between items-center p-4 border-t border-gray-700">
                    <button
                            id="prev-stage"
                            class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 w-15 rounded-lg"
                    >
                        ←
                    </button>
                    <button
                            id="next-stage"
                            class="bg-gray-700 hover:bg-gray-600 text-white py-2 px-4 w-15 rounded-lg"
                    >
                        →
                    </button>
                </div>
            </div>
        </main>


        <script>
            function toggleContent() {
                const leftDrawer = document.getElementById('left-drawer');

                leftDrawer.classList.toggle('-translate-x-full');
            }
        </script>
        <script>
            // this keeps the arrow keys from scrolling the page when playing a game
            const gameContainer = document.getElementById("game-container");

            gameContainer.addEventListener("keydown", function (event) {
                if (["ArrowUp", "ArrowDown", "ArrowLeft", "ArrowRight"].includes(event.key)) {
                    event.preventDefault();
                }
            });

            gameContainer.setAttribute("tabindex", "0");
            gameContainer.style.outline = "none";
            gameContainer.focus();
        </script>
        <script>
            // we want to disable scrolling (horizontally) so users dont see the "hidden" content panels
            document.body.style.overflowX = "hidden";
        </script>

        <script>
            let currentStage = 0;

            function fetchWalkthroughStage(stage) {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('routes.get_walkthrough', module=data.title, stage='') }}" + stage,
                    success: function (response) {
                        if (Object.keys(response).length === 0) {
                            currentStage = 0;
                            console.log("loop back over content....");
                            return fetchWalkthroughStage(currentStage);
                        }

                        const walkthroughElement = document.getElementById("walkthrough");

                        if (!walkthroughElement) {
                            console.error("Walkthrough element not found");

                            return;
                        }

                        walkthroughElement.innerHTML = "";

                        // title; replace w/ actual title/content when service is updated to
                        // return that ;p
                        const t = document.createElement("span");
                        t.className = "mr-4";
                        t.innerHTML = `<strong>${response.title}</strong>`;
                        walkthroughElement.appendChild(t);

                        const h = document.createElement("hr");
                        h.className = "border-gray-600 my-4";
                        walkthroughElement.appendChild(h);

                        const c = document.createElement("span");
                        c.className = "mr-4";
                        c.innerHTML = `${response.content}`;
                        walkthroughElement.appendChild(c);

                        const hh = document.createElement("hr");
                        hh.className = "border-gray-600 my-4";
                        walkthroughElement.appendChild(hh);

                        const l = document.createElement("span");
                        l.className = "mr-4";
                        l.innerHTML = `<a href="${response.hyperlink}"
   class="text-blue-600 hover:text-blue-800 font-semibold underline transition duration-300 ease-in-out"
   target="_blank" rel="noopener noreferrer">
    Find out more
</a>`;
                        walkthroughElement.appendChild(l);
                    },
                    error: function (error) {
                        console.error("Error fetching walkthrough stage:", error);

                        const leftDrawer = document.getElementById('left-drawer');

                        leftDrawer.classList.add('-translate-x-full');
                    },
                });
            }

            function setupWalkthroughNavigation() {
                const prevButton = document.getElementById("prev-stage");
                const nextButton = document.getElementById("next-stage");

                if (prevButton && nextButton) {
                    prevButton.onclick = function () {
                        currentStage--;
                        fetchWalkthroughStage(currentStage);
                    };

                    nextButton.onclick = function () {
                        currentStage++;
                        fetchWalkthroughStage(currentStage);
                    };
                }
            }

            document.addEventListener("DOMContentLoaded", function () {
                fetchWalkthroughStage(currentStage);
                setupWalkthroughNavigation();
            });
        </script>



    </body>

    {% include 'footer.html' %}
</html>