{% extends "layout.html" %}
    
{% block content %}

<div class="gamelist">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Game Title</th>
            <th scope="col">Description</th>
            <th scope="col">Play</th>
        </tr>
        </thead>
        <tbody>

        {% for data in gameData %}
        <tr>
            <td scope='row'>{{ data["title"] }}</td>
            <td>{{ data["description"] }}</td>
            <td>
                <form action="{{url_for('routes.playgame')}}" method="POST">
                    <input type="hidden" name="title" value="{{data['title']}}">
                    <input type="hidden" name="description" value="{{data['description']}}">
                    <input type="hidden" name="uri" value="{{data['uri']}}">
                <button>Play</button>
            </form>
            </td>
        </tr>
        {% endfor %}
        
        </tbody>
    </table>
</div>

{% endblock %}