<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>The Splunk Arcade!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css')}}">

        <script src="https://code.jquery.com/jquery-latest.js"></script>

        <style>
            @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
            .press-start-2p-regular {
                font-family: "Press Start 2P", serif;
                font-weight: 400;
                font-style: normal;
            }
        </style>

        <script>
            function submitForm(titleKey, descriptionKey, uriKey) {
                const form = document.getElementById('gameForm');
                // Create hidden inputs dynamically based on card clicked
                const title = document.createElement('input');
                title.type = 'hidden';
                title.name = 'title';
                title.value = titleKey;

                const description = document.createElement('input');
                description.type = 'hidden';
                description.name = 'description';
                description.value = descriptionKey;

                const uri = document.createElement('input');
                uri.type = 'hidden';
                uri.name = 'uri';
                uri.value = uriKey;

                // Append inputs to form
                form.appendChild(title);
                form.appendChild(description);
                form.appendChild(uri);

                // Submit form
                form.submit();
            }
        </script>

        <script>
            async function checkGameStatus() {
                try {
                    let response = await fetch("{{url_for('routes.get_progression')}}");
                    let data = await response.json()
                    data = data["level_state"];

                    document.querySelectorAll("[data-game]").forEach(card => {
                        let gameId = card.dataset.game;
                        let img = card.querySelector("img");
                        let banner = card.querySelector(".locked-banner");

                        card.classList.add("relative");

                        if (data[gameId] === "locked" && gameId !== "other") {
                            card.classList.add("cursor-not-allowed");
                            card.onclick = null;
                            card.setAttribute("title", "Answer questions to unlock games");

                            if (!banner) {
                                banner = document.createElement("div");
                                banner.className = "locked-banner absolute bg-red-700 text-white text-sm font-bold text-center py-1 opacity-90";
                                banner.innerText = "LOCKED - Answer questions to unlock!";
                                banner.style.width = "110%";
                                banner.style.left = "50%";
                                banner.style.top = "50%";
                                banner.style.transform = "translate(-50%, -50%) rotate(-27deg)";
                                banner.style.whiteSpace = "nowrap";
                                banner.style.padding = "4px 10px";
                                banner.style.borderRadius = "14px";
                                card.appendChild(banner);
                            }
                        } else {
                            card.classList.remove("cursor-not-allowed");
                            card.onclick = () => submitForm(gameId);
                            card.removeAttribute("title");
                            img.style.filter = "";

                            if (banner) {
                                banner.remove();
                            }
                        }
                    });
                } catch (error) {
                    console.error("Error fetching game status:", error);
                }
            }

            // make sure we update right away, then every 5s
            checkGameStatus();
            setInterval(checkGameStatus, 5000);
            document.addEventListener("DOMContentLoaded", checkGameStatus);
        </script>
    </head>
    <body class="min-h-screen flex flex-col bg-gray-800 bg-cover bg-center" style="background-image: url('{{ url_for('static', filename='images/arcade_bg_.png') }}');">
        <header>
            <img src="{{ url_for('static', filename='images/arcade__.png')}}" class="mx-auto h-32">
        </header>

        <nav class="bg-gray-800 text-white py-2 shadow-md opacity-90">
            <ul class="flex justify-center space-x-8">
                <li><a href="{{ scoreboard_endpoint }}" class="text-2xl tracking-wide press-start-2p-regular">Scoreboard</a></li>
                <li><a href="{{ logout_endpoint }}" class="text-2xl tracking-wide press-start-2p-regular">Logout</a></li>
            </ul>
        </nav>

        <main class="py-2">
            <form id="gameForm" action="{{url_for('routes.game')}}" method="POST">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 overflow-x-auto px-6">
                    <div data-game="imvaders" class="min-w-[300px] opacity-90 bg-gray-800 p-8 rounded-lg shadow-lg hover:shadow-2xl hover:shadow-cyan-500/50 p-4 flex flex-col items-center cursor-pointer" onclick="submitForm('imvaders', 'Fight the Space IMvaders!', 'imvader.html')">
                        <h3 class="font-bold text-white text-lg mb-2 text-center">Space IMvaders</h3>
                        <p class="text-gray-400 text-center mb-4">Fight the Space IMvaders!<br>Ya know, for Infrastructure Monitoring.</p>
                        <img src="{{ url_for('static', filename='images/invaders_logo.png') }}" class="w-32 h-32 object-cover rounded-full">
                    </div>

                    <div data-game="logger" class="min-w-[300px] opacity-90 bg-gray-800 p-8 rounded-lg shadow-lg hover:shadow-2xl hover:shadow-cyan-500/50 p-4 flex flex-col items-center cursor-pointer" onclick="submitForm('logger', 'Leap for your logs!', 'logger.html')">
                        <h3 class="font-bold text-white text-lg mb-2 text-center">Logger</h3>
                        <p class="text-gray-400 text-center mb-4">Leap for your logs!<br>Keep them logs hoppin'!.</p>
                        <img src="{{ url_for('static', filename='images/frogger_logo.png') }}" class="w-32 h-32 object-cover rounded-full">
                    </div>

                    <div data-game="bughunt" class="min-w-[300px] opacity-90 bg-gray-800 p-8 rounded-lg shadow-lg hover:shadow-2xl hover:shadow-cyan-500/50 p-4 flex flex-col items-center cursor-pointer" onclick="submitForm('bughunt', 'Hunt some bugs!', 'bughunt.html')">
                        <h3 class="font-bold text-white text-lg mb-2 text-center">BugHunt</h3>
                        <p class="text-gray-400 text-center mb-4">Are you ready to hunt some bugs?<br><br></p>
                        <img src="{{ url_for('static', filename='images/duckhunt_logo.png') }}" class="w-28 h-28">
                    </div>

                    <div data-game="other" class="min-w-[300px] opacity-90 bg-gray-800 p-8 rounded-lg shadow-lg hover:shadow-2xl hover:shadow-cyan-500/50 p-4 flex flex-col items-center">
                        <h3 class="font-bold text-white text-lg mb-2 text-center">?!</h3>
                        <p class="text-gray-400 text-center mb-4">What could go here?<br><br></p>
                        <img src="{{ url_for('static', filename='images/tbd_logo.png') }}" class="w-32 h-32 object-cover rounded-full">
                    </div>
                </div>
            </form>
        </main>

    </body>

    {% include 'footer.html' %}
</html>