<!DOCTYPE html>
<html>
<head>
    <title>Splunk Arcade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="static/assets/css/main.css"/>
</head>
<body style="background-color: #343a40; color:white">

    <div class="container-fluid text-center top-container">
        <img style="max-width:400px; max-height:400px" src="static/assets/images/logo-light.png">
    </div>
<div class="container game_container">

    {% block content %}
    {% endblock %}

</div>
    {% include "includes/footer.html" %}
</body>
</html>    