{% extends "layout-game.html" %}

{% block content %}
    {% if "imvader" in data.title  %}
        {% include 'cabinets/imvader.html' %}
    {% endif %}      
    {% if "Logger" in data.title  %}
        {% include 'cabinets/loggergame.html' %}
    {% endif %}
    {% endblock %}
    {% block quiz %}

    <script>
        $.ajax({
            type: 'GET',
            url: '{{ url_for("routes.get_question", module="imvaders") }}',
            success: function(response) {
                var question = response.question;
                var A = response.A;
                var B = response.B;
                var C = response.C;
                var D = response.D;
                var answer = response.answer;

                $('div.question').append(question);
                $('#OptionA').append(A);
                $('#OptionB').append(B);
                $('#OptionC').append(C);
                $('#OptionD').append(D);

                // Store the answer in a global variable for later comparison
                window.correctAnswer = answer;
            },
            error: function(error) {
                console.log('not implemented');
            }
        });

        function checkAnswer() {
            const choices = document.getElementsByName('options');
            let selectedValue;

            for (const choice of choices) {
                if (choice.checked) {
                    selectedValue = choice.value;
                    break;
                }
            }

            if (selectedValue) {
                if (selectedValue === window.correctAnswer) {
                    alert('Correct!');
                } else {
                    alert(`Incorrect. The correct answer is: ${window.correctAnswer}`);
                }
            } else {
                alert('Please select an answer before submitting.');
            }
        }
    </script>

{% endblock %}
